@model SchoolPortal.Models.ViewModels.AdminAnnouncementVM

<h3 class="text-center">Annoucement Manager</h3>

<div class="d-flex justify-content-center">
    <div class="border border-1 rounded p-3 col-10">
         <p class=" mb-3">Create New Announcement</p>
        <form method="post" class="form-control">
            <input asp-for="AdminAnnouncement.Title" class="form-control mt-3" placeholder="Title" style="width: 300px;" />
            <span asp-validation-for="AdminAnnouncement.Title" class="text-danger"></span>
            <textarea asp-for="AdminAnnouncement.Description" class="form-control mt-3" placeholder="Content"></textarea>
            <span asp-validation-for="AdminAnnouncement.Description" class="text-danger"></span>
            <div class="row justify-content-end mt-3">
                <div class="col-2"><button class="form-control btn btn-primary">Post</button></div>
                <div class="col-2"><button type="submit" class="form-control btn btn-danger">Clear</button></div>
            </div>


            <input asp-for="AdminAnnouncement.ApplicationUserId" class="form-control mt-3" placeholder="ID" style="width: 100px;" />
        </form>
    </div>
</div>

<div class="d-flex justify-content-center mt-3">
    <div class="border border-1 rounded p-3 col-10">
        <p class=" mb-3">All Posts</p>
        @if (@Model.Posts.Count() == 0)
        {
            <h4 class="m-lg-5 text-center">No Posts Recorded</h4>
        }
        else
        {
            foreach (var u in Model.Posts)
            {
                <div class="border border-1 rounded p-3 m-3">
                    <div class="d-flex flex-row ">
                        <div class="h4">@u.Title</div>
                        <div class="col px-4 text-secondary m-0">
                            @if (@u.IsEditted != true)
                            {
                                @u.DatePosted.ToString("dddd, dd MMMM yyyy")
                            }
                            else
                            {
                                <span>@u.DatePosted.ToString("dddd, dd MMMM yyyy") Edited: (@u.DateEditted.ToString("dddd, dd MMMM yyyy"))</span>
                            }
                        </div>
                        <div class="col row">
                            <div class="col text-end">
                                <a asp-controller="Announcement" asp-action="Edit" asp-route-id="@u.Id" class="btn btn-sm btn-warning mx-1">
                                    Edit
                                </a>
                               @*  <a asp-controller="Announcement" asp-action="DeletePost" asp-route-id="@u.Id" class="btn btn-sm btn-danger mx-1">
                                    Delete
                                </a> *@
                                <a class="btn btn-sm btn-danger mx-1" onclick="deletePost(this.id)" id="@u.Id">Delete</a>
                            </div>
                        </div>
                    </div>
                    <div>@u.Description</div>
                    <div class="text-end">
                        <span class="text-secondary">@u.ApplicationUserId</span> - @u.ApplicationUser.FirstName @u.ApplicationUser.LastName
                    </div>
                </div>
            }
        }
    </div>
</div>

<script src="~/js/AdminAnnoucement.js"></script>